<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>dev.buhoho.vox</string>
    <key>CFBundleName</key>
    <string>Vox</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>音声入力を行うためにマイクへのアクセスが必要です</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>音声をテキストに変換するため音声認識が必要です</string>
</dict>
</plist>
